
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.customize_mobilecontainer {
	padding: 5px 15px 15px 15px;
}
/* mobilelabel_26 */
.customize_mobilelabel_26 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_27 */
.customize_spacer_27 {
	width: 100%; height: 35%;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_2 */
.customize_mobilelabel_2 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_14 */
.customize_mobilelabel_14 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_21 */
.customize_spacer_21 {
	width: 100%; height: 5px;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_15 */
.customize_mobilelabel_15 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_16 */
.customize_spacer_16 {
	width: 100%; height: 5px;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_23 */
.customize_mobilelabel_23 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_22 */
.customize_mobilelabel_22 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_24 */
.customize_mobilelabel_24 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_25 */
.customize_spacer_25 {
	width: 100%; height: 5px;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_13 */
.customize_mobilelabel_13 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsibleset_3 */
.customize_mobilecollapsibleset_3 {
	margin: 8px 5px 8px 5px;
}
/* mobilecollapsblock_4 */
.customize_mobilecollapsblock_4 {

}
.customize_mobilecollapsblock_4 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_20 */
.customize_mobilelabel_20 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilebutton_17 */
#customize_mobilebutton_17 {

}
.ui-btn.customize_mobilebutton_17 {
	margin: 4px 5px 4px 5px;
}
/* mobilecollapsblock_7 */
.customize_mobilecollapsblock_7 {

}
.customize_mobilecollapsblock_7 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilebutton_18 */
#customize_mobilebutton_18 {

}
.ui-btn.customize_mobilebutton_18 {
	margin: 4px 5px 4px 5px;
}
/* mobilecollapsblock_10 */
.customize_mobilecollapsblock_10 {

}
.customize_mobilecollapsblock_10 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilebutton_19 */
#customize_mobilebutton_19 {

}
.ui-btn.customize_mobilebutton_19 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.customize_mobilefooter {
	min-height:38px;
}